@{
    ViewData["Title"] = "Правила";
}
<h2>@ViewData["Title"]</h2>

<strong style="color:black; text-align: center">
    Запрещается публиковать информацию, содержащую:<br />
     1. чрезмерное количество жаргонных слов, грубые и нецензурные слова или выражения;<br />
     2. рекламу;<br />
     3. порнографию;<br />
     4. чужую личную информацию;<br />
     5. оскорбления, угрозы, клевету;<br />
     6. объекты расистского характера и разжигания межнациональной розни;<br />
     7. политическую, религиозную и иную пропаганду;<br />
     8. призывы к насилию или нарушению действующего законодательства.<br />
</strong>